module.exports = {
  DEVELOPMENT: {
    client: '',
    connection: {
      server: '',
      user: '',
      password: '',
      database: '',
    },
  },
  TEST: {
    client: '',
    connection: {
      server: '',
      user: '',
      password: '',
      database: '',
    },
  },
};
